#recipt {
    float: left;
    width: 10em;
    border: 2px solid green;
    padding: 0.5em;
    margin: 1em;
}

#categories {
    float: top;
}

#menu {
    float: left;
    border: 2px solid blue;
    padding: 1em;
    margin: 1em;
}

.pizza {
    margin: 0.5em;
}

.topping {
    position: relative;
    left: 1em;
}

.item {
    position: relative;
}

.price {
    position: absolute;
    right: 0.1em;
}
